<div class="container">
  <h1>My Account</h1>
  <div>My username: <%= current_user.username %></div>
  <div>My email: <%= current_user.email %></div>
  <% current_user.reviews.each do |review| %>
    <%= review.comment %>
    <%= review.rating %>
  <% end %>

  <%= form_tag "#", method: "GET" do %>
    <%= label_tag "Check to receive notifications " %>
    <%= check_box_tag :notification %>
    <%= submit_tag "Get Notifications", class: "btn" %>
  <% end %>
</div>
