<div class="container">
  <h1 class="text-center rev">Photos sorted by rating</h2>
  <% @photos.each do |photo| %>
    <div class="row">
      <div class="col-sm-9">
        <%= link_to image_tag(photo.image_file.url(:preview), class: "show"), photo_path(photo.id) %>
      </div>
      <div class="col-sm-3">
        <%= render "photos/gravatar", photo: photo %>
        <div>Thumbs up: <%= photo.reviews.where(rating: 1).count %></div>
        <div>Meh: <%= photo.reviews.where(rating: 0).count %></div>
        <div>Thumbs down: <%= photo.reviews.where(rating: -1).count %></div>
      </div>
    </div>
    </br>
  <% end %>
</div>
