<div class="container">
  <h1> Hello </h1>
    <%= image_tag @selected_photo.image_file.url(:square) %>
    <%= @selected_photo.description %>

    <%= form_tag review_the_photo_path(@selected_photo.id) do %>
      <%= text_area_tag "review[comment]", nil, class: "col-lg-2", placeholder: "leave a comment here" %>
      <%= radio_button_tag("review[rating]", "thumbs up") %>
      <%= label_tag(:rating, "plusss") %>
      <%= radio_button_tag("review[rating]", "meh") %>
      <%= label_tag(:rating, "neutral") %>
      <%= radio_button_tag("review[rating]", "thumbs down") %>
      <%= label_tag(:rating, "minus") %>
      <%= submit_tag "Review" %>
    <% end %>
    <br>

</div>
