<div class="container">
  <h1> Hello </h1>
    <%# <%= image_tag @selected_photo.image_file.url(:square) %1> %>
    <%# <%= @selected_photo.description %1> %>

    <%# <%= form_tag new_review_path(@selected_photo.id) do %1> %>
    <%#   <%= text_area_tag "review[comment]", nil, class: "col-lg-2", placeholder: "leave a comment here" %1> %>
    <%#   <%= radio_button_tag("review[rating]", "thumbs up") %1> %>
    <%#   <%= label_tag(:rating, "plusss") %1> %>
    <%#   <%= radio_button_tag("review[rating]", "meh") %1> %>
    <%#   <%= label_tag(:rating, "neutral") %1> %>
    <%#   <%= radio_button_tag("review[rating]", "thumbs down") %1> %>
    <%#   <%= label_tag(:rating, "minus") %1> %>
    <%#   <%= submit_tag "Review" %1> %>
    <%# <% end %1> %>
    <%# <br> %>

</div>
