<div class="container">
  <% if @random_photo %>
    <h1 class="text-center">Review this image</h1>
    <%= image_tag @random_photo.image_file.url(:square) %>
    <%= @random_photo.description %>
    <%= @random_photo.user.username %>

    <%= form_tag new_review_path(@random_photo.id) do %>
      <%= text_area_tag "review[comment]", nil, class: "col-lg-2", placeholder: "leave a comment here" %>
      <%= radio_button_tag("review[rating]", -1) %>
      <%= label_tag(:rating, "thumbs down") %>
      <%= radio_button_tag("review[rating]", 0) %>
      <%= label_tag(:rating, "meh") %>
      <%= radio_button_tag("review[rating]", 1) %>
      <%= label_tag(:rating, "thumbs up") %>
      <%= submit_tag "Review" %>
    <% end %>
  <% else %>
    <h1 class="text-center">No images to review</h1>
  <% end %>
    <br>

</div>
