<div class="container">
  <% if @photo %>
    <h1 class="text-center home">Review this image</h1>
    <%= render "users/error_messages", object: @review %>
    <%= image_tag @photo.image_file.url(:preview) %>
    <%= @photo.description %>
    <%= @photo.user.username %>

    <%= form_tag new_review_path(@photo.id) do %>
      <%= text_area_tag "review[comment]", nil, class: "col-lg-2", placeholder: "leave a comment here" %>
      <%= radio_button_tag("review[rating]", -1) %>
      <%= label_tag(:rating, "thumbs down") %>
      <%= radio_button_tag("review[rating]", 0) %>
      <%= label_tag(:rating, "meh") %>
      <%= radio_button_tag("review[rating]", 1) %>
      <%= label_tag(:rating, "thumbs up") %>
      <%= submit_tag "Review" %>
    <% end %>
  <% else %>
    <h1 class="text-center home">No images to review</h1>
  <% end %>
    <br>

</div>
