<div class="container">
  <% if @random_photo %>
    <h1 class="text-center">Review this image</h1>
    <%= image_tag @random_photo.image_file.url(:square) %>
    <%= @random_photo.description %>

    <%= form_tag new_review_path(@random_photo.id) do %>
      <%= text_area_tag "review[comment]", nil, class: "col-lg-2", placeholder: "leave a comment here" %>
      <%= radio_button_tag("review[rating]", "thumbs down") %>
      <%= label_tag(:rating, "minus") %>
      <%= radio_button_tag("review[rating]", "meh") %>
      <%= label_tag(:rating, "neutral") %>
      <%= radio_button_tag("review[rating]", "thumbs up") %>
      <%= label_tag(:rating, "plusss") %>
      <%= submit_tag "Review" %>
    <% end %>
  <% else %>
    <h1 class="text-center">No images to review</h1>
  <% end %>
    <br>

</div>
