<div class="container">
  <% if @photo %>
    <h1 class="text-center home">Review this image</h1>
    <%= render "users/error_messages", object: @review %>

    <div class="col-sm-8">
      <%= image_tag @photo.image_file.url(:preview), class: "border" %>
    </div>

    <div class="col-sm-4">
      <div class="review">
        Photo by: <%= render "photos/gravatar", photo: @photo %>
      </div>
      <% if @photo.description.present? %>
        <div class="desc"><div class="ph">Description of the photo: </div><%= @photo.description %></div>
      <% end %>
      <%= form_tag new_review_path(@photo.id) do %>
        <%= text_area_tag "review[comment]", nil, class: "col-sm-12 input-lg", placeholder: "leave your comment here" %>
        <%= radio_button_tag("review[rating]", -1) %>
        <%= label_tag(:rating, "thumbs down") %>
        <%= radio_button_tag("review[rating]", 0) %>
        <%= label_tag(:rating, "meh") %>
        <%= radio_button_tag("review[rating]", 1) %>
        <%= label_tag(:rating, "thumbs up") %>
        <%= submit_tag "Review", class: "btn btn-block btn-success" %>
      <% end %>
    </div>
  <% else %>
    <h1 class="text-center home">No images to review</h1>
  <% end %>
  <br>
</div>
